/*----This area has box propaty-----*/
.card{
    width: 350px;
    min-width: 300px;
    height: 80%;
    min-height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.cardTitle{
    width: 100%;
    height: 40%;
}
.cardBody{
    width: 100%;
    height: 60%;
}
/*-------------------------------*/

/*---------Css in cardTitle-------*/

.topTitle{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin: 8px 0;
}
.subTitle{
    padding: 0 5px;
}

/*-------- All of areas -----------*/
.textCenter{text-align: center;}

